<div class="row m-0 justify-content-center">
  <div class="col-12 p-0">
    <div class="card mb-3 card-sm-border-0 p-0">
      <div class="row m-0 border-bottom">
        <div class="col card-header pl-1 pl-md-3 border-0">
          <h3 class="mt-0 h5">
            <a href="{{ .post.Params.post_url }}" target="_blank" rel="noopener noreferrer">{{ .post.Title }}</a>
            <a href="{{ .post.Permalink }}" class="post-anchor">🔗</a>
          </h3>
          <div class="d-flex flex-fill align-items-center">
            <a href="{{ .post.Params.site_url }}" target="_blank" rel="noopener noreferrer">
              <img height="51px" class="my-auto me-2" src="{{ with .post.Params.avatar }}{{ if in . "://" }}{{ . }}{{ else }}/hackergotchi/{{ . }}{{ end }}{{ else }}/hackergotchi/default.svg{{ end }}"/>
            </a>
            <div class="d-flex flex-column">
              <span>
                <a href="{{ .post.Params.site_url }}" target="_blank" rel="noopener noreferrer">{{ .post.Params.author }}</a>
                {{ with .post.Params.irc }}
                <span class="badge bg-dark"><img src="/img/irc.svg"/> {{ . }}</span>
                {{ end }}
                {{ with .post.Params.sok }}
                <a href="https://community.kde.org/SoK" target="_blank">
                  <span class="badge bg-primary">SoK</span>
                </a>
                {{ end }}
                {{ with .post.Params.telegram }}
                <a href="tg://user?id={{ . }}" target="_blank">
                  <span class="badge bg-light text-dark"><img width=12px height=12px src="/img/telegram.svg"/> {{ . }}</span>
                </a>
                {{ end }}
                {{ with .post.Params.matrix }}
                <a href="https://webchat.kde.org/" target="_blank">
                  <span class="badge bg-secondary"><img width=12px height=12px src="/img/matrix.svg"/> {{ . }}</span>
                </a>
                {{ end }}
                {{ with .post.Params.gsoc }}
                <a href="https://summerofcode.withgoogle.com/" target="_blank">
                  <span class="badge bg-info"><img width=12px height=12px src="/img/gsoc.svg"/> GSoC</span>
                </a>
                {{ end }}
              </span>
              <span class="text-muted">{{ partial "fn/i18n_time" (dict "time" .post.Params.date "format" "%H:%M %z") }} </span>
            </div>
            <a href="{{ .post.Params.feed_url }}" target="_blank" rel="noopener noreferrer" class="ms-auto post-feed" title="{{ .post.Params.feed_summary }}">
              {{ if in .post.Params.format "rss" }}RSS {{ else }}Atom {{end}}<i class="icon icon_rss"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body markdown">
        {{ .post.Content }}
      </div>
    </div>
  </div>
</div>
